<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.company-mapper">
  <!-- 기업 리스트 -->
  <select id="getCompanyList" resultType="CompanyVO" parameterType="hashmap">
    SELECT cid,
           email,
           cname,
           name,
           phone,
           brnumber,
           access_key,
           state,
           num
    FROM (SELECT cid,
                 email,
                 cname,
                 name,
                 phone,
                 brnumber,
                 access_key,
                 state,
                 rownum as num
          FROM (SELECT cid,
                       email,
                       cname,
                       name,
                       phone,
                       brnumber,
                       access_key,
                       state
                FROM OFFICIAL
                order by cid desc))
    WHERE (num BETWEEN #{start} AND #{end})
      and state = 1
  </select>
  <!-- 기업 상세 보기 -->
  <select id="getCompanyDetail" resultType="CompanyVO" parameterType="string">
    SELECT cid,
           email,
           cname,
           name,
           phone,
           brnumber,
           access_key
    FROM OFFICIAL
    WHERE cid = #{id}
  </select>
  <!-- 기업 계정 삭제 -->
  <delete id="companyDelete" parameterType="string">
    delete
    from OFFICIAL
    where cid = #{id}
  </delete>
  <!--  기업 검색  -->
  <select id="getCompanySearch" resultType="CompanyVO" parameterType="hashmap">
    SELECT cid,
           email,
           cname,
           name,
           phone,
           brnumber,
           access_key,
           state,
           num
    FROM (SELECT cid,
                 email,
                 cname,
                 name,
                 phone,
                 brnumber,
                 access_key,
                 state,
                 rownum as num
          FROM (SELECT cid,
                       email,
                       cname,
                       name,
                       phone,
                       brnumber,
                       access_key,
                       state
                from OFFICIAL
                where (cid like '%' || #{id} || '%'
                  or email like '%' || #{id} || '%'
                  or cname like '%' || #{id} || '%'
                  or name like '%' || #{id} || '%'
                  or phone like '%' || #{id} || '%'
                  or brnumber like '%' || #{id} || '%'
                  or access_key like '%' || #{id} || '%')
                  and STATE = 1
                order by cid desc))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="getCompanySearchCount" resultType="int" parameterType="string">
    SELECT CEIL(COUNT(*) / 15.0)
    FROM (SELECT cid,
                 email,
                 cname,
                 name,
                 phone,
                 brnumber,
                 access_key,
                 state
          FROM OFFICIAL
          WHERE (cid LIKE '%' || #{id} || '%'
            OR email LIKE '%' || #{id} || '%'
            OR cname LIKE '%' || #{id} || '%'
            OR name LIKE '%' || #{id} || '%'
            OR phone LIKE '%' || #{id} || '%'
            OR brnumber LIKE '%' || #{id} || '%'
            OR access_key LIKE '%' || #{id} || '%')
            AND STATE = 1)
  </select>
</mapper>
