<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.company-mapper">
	<select id="companyMainHouseData" resultType="CompanyVO">
		SELECT * FROM (SELECT * FROM company
		ORDER BY DBMS_RANDOM.RANDOM)
		WHERE rownum&lt;=1
	</select>
	<select id="companyListData" resultType="CompanyVO" parameterType="hashmap">
	   SELECT cno,name,poster,estdate,c_type,ecount,address,num
	   FROM (SELECT cno,name,poster,estdate,c_type,ecount,address,rownum as num 
	   FROM (SELECT /*+ INDEX_ASC(company company_list_seq)*/cno,name,poster,estdate,c_type,ecount,address
	   FROM company
 			<where>
 			   <if test="tab == 'all'">
 			   		1 = 1
 			   </if>
 			   <if test="tab != 'all'"> 
                     AND c_type LIKE '%' || #{tab} || '%'
 		       </if>
 		       <if test="tab == '대기업'">
 				    AND c_type NOT LIKE '%1000대기업%'
 			   </if>
 	       </where>
 	  	  )
 	   )
 	   WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="companyTotalPage" resultType="int">
	   SELECT CEIL(COUNT(*)/12.0) 
	   FROM company
	   <where>
	      <if test="tab != 'all'">
	            AND c_type = #{tab}
	      </if>
       </where>	   
	</select>
	<!-- 기업 상세보기 -->
	<select id="comDetailData" resultType="CompanyVO" parameterType="int">
		SELECT cid,name,introduction,TO_CHAR(estdate,'YYYY-MM-DD') as dbestdate,estdate,c_type,ecount,
		TRUNC(take/1000000000000) as jo,
		TRUNC(MOD(take,1000000000000)/100000000) as uk,
		TRUNC(MOD(take,100000000)/10000) as man,
		industry,representative,homepage,bu_details,address,history,access_key,poster,sample,fo_count,cno
		FROM company
		WHERE cno=#{cno}
	</select>
	<!-- 기업 복지 -->
	<select id="comDetailWelfareData" resultType="WelfareVO" parameterType="String">
		SELECT w.*
		FROM welfare w,com_welfare c
		WHERE w.wno=c.wno
		AND cid=#{cid}
	</select>
	<!-- 기업 복지 태그 -->
	<select id="comDetailWelfareTag" resultType="WelfareVO" parameterType="String">
		SELECT *
		FROM welfare
		WHERE wno IN(
			SELECT distinct w.wno2
		    FROM welfare w,com_welfare c
		    WHERE w.wno=c.wno
		    AND cid=#{cid})
	</select>
	<select id="cnoByCid" resultType="int" parameterType="String">
		SELECT cno
		FROM company
		WHERE cid=#{cid}
	</select>
	<insert id="comInsert" parameterType="CompanyVO">
		INSERT INTO company(cid,name,cno)
		VALUES(
			#{cid},
			#{name},
			(SELECT NVL(MAX(cno)+1,1) FROM company)
		)
	</insert>
</mapper>