<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.emp-mapper">
	<!-- 공통 -->
	<select id="empMainHouseData" resultType="EmpVO">
		SELECT * FROM (SELECT * FROM employment
		ORDER BY DBMS_RANDOM.RANDOM)
		WHERE rownum&lt;=1
	</select>
	<select id="empMainHouseData8" resultType="EmpVO">
 		SELECT * FROM (SELECT * FROM employment
 		ORDER BY DBMS_RANDOM.RANDOM)
 		WHERE rownum&lt;=8
 	</select>
	<select id="empListData" resultType="EmpVO" parameterType="hashmap">
	   SELECT eno,name,title,personal_history,salary_str,loc,emp_type,regdate,deadline,hit,fo_count,se_count,num
	   FROM (SELECT eno,name,title,personal_history,salary_str,loc,emp_type,regdate,deadline,hit,fo_count,se_count,rownum AS num 
	   FROM (SELECT /*+ INDEX_ASC(employment employment_list_seq)*/eno,name,title,personal_history,salary_str,loc,emp_type,regdate,deadline,hit,fo_count,se_count
	   FROM employment
 		   <where>
 			   <if test="tab == 'all'">
 			   		1 = 1
 			   </if>
           	   <if test="tab != 'all'"> 
                     AND emp_type LIKE '%' || #{tab} || '%'
 		       </if>
 	       </where>
 	  	  )
 	   )
 	   WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="empTotalPage" resultType="int">
	   SELECT CEIL(COUNT(*)/12.0) 
	   FROM employment
	   <where>
	       <if test="tab != 'all'">
	            AND emp_type = #{tab}
	       </if>
       </where>
	</select>
	<select id="empFindData">
	SELECT eno, name, title, personal_history, salary_str, loc, emp_type, regdate, deadline, hit, fo_count, se_count, num
	FROM (SELECT eno, name, title, personal_history, salary_str, loc, emp_type, regdate, deadline, hit, fo_count, se_count, rownum AS num
	FROM (SELECT /*+ INDEX_ASC(employment employment_list_seq) */
				e.eno, e.name, e.title, e.personal_history, e.salary_str, e.loc, e.emp_type, e.regdate, e.deadline, e.hit, e.fo_count, e.se_count
	        FROM employment e
	        LEFT JOIN emp_job ej ON e.jno = ej.jno  
	        LEFT JOIN job j ON ej.jno = j.jno       
	        WHERE 
	            e.${fd} LIKE '%' || #{ss} || '%'  
	            AND (#{jno} IS NULL OR ej.jno = #{jno})  
	            AND (#{loc} IS NULL OR e.loc = #{loc})  	          
	    )
	)
	WHERE num BETWEEN #{start} AND #{end}	
	</select>
	<!-- 기업 -->
	<select id="empComListData" resultType="EmpVO" parameterType="hashmap">
		SELECT eno,name,title,personal_history,loc,emp_type,hit,
			TO_CHAR(regdate,'YYYY-MM-DD') as dbregdate,
			TO_CHAR(deadline,'YYYY-MM-DD') as dbdeadline,
			fo_count,se_count,dtype,rtype,num
		FROM (SELECT eno,name,title,personal_history,loc,emp_type,hit,regdate,deadline,fo_count,se_count,dtype,rtype,rownum as num
		FROM (SELECT eno,e.name,title,personal_history,loc,emp_type,hit,regdate,deadline,e.fo_count,se_count,
				NVL(TRUNC(deadline,'DD')-TRUNC(SYSDATE,'DD'),-1) as dtype,
				TRUNC(SYSDATE,'DD')-TRUNC(regdate,'DD') as rtype
		FROM employment e,company c
		WHERE e.cid=c.cid 
		AND cno=#{cno}
			<choose>
				<when test="mode==1"><!-- 마감된 공고 -->
					AND deadline&lt;SYSDATE
				</when>
				<when test="mode==0"><!-- 진행중인 공고 -->
					AND (deadline&gt;SYSDATE OR deadline is null)
					<choose>
						<!-- 
							0 : 전체
							1 : 신입
							2 : 경력
						 -->
						<when test="ph==0">
						
						</when>
						<when test="ph==1">
							AND personal_history LIKE '%'||'신입'||'%'
						</when>
						<when test="ph==2">
							AND personal_history LIKE '%'||'경력'||'%'
						</when>
					</choose>
					<choose>
						<!-- 
							0 : 마감임박순
							1 : 최신등록순
							2 : 조회수많은순
						 -->
						<when test="type==0">
							ORDER BY deadline ASC
						</when>
						<when test="type==1">
							ORDER BY regdate DESC
						</when>
						<when test="type==2">
							ORDER BY hit DESC
						</when>
					</choose>
				</when>
			</choose>
		))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="empComCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(*)
		FROM employment e,company c
		WHERE e.cid=c.cid 
		AND cno=#{cno}
		<choose>
			<when test="mode==1"><!-- 마감된 공고 -->
				AND deadline&lt;SYSDATE
			</when>
			<when test="mode==0"><!-- 진행중인 공고 -->
				AND (deadline&gt;SYSDATE OR deadline is null)
				<choose>
					<!-- 
						0 : 전체
						1 : 신입
						2 : 경력
					 -->
					<when test="ph==0">
					
					</when>
					<when test="ph==1">
						AND personal_history LIKE '%'||'신입'||'%'
					</when>
					<when test="ph==2">
						AND personal_history LIKE '%'||'경력'||'%'
					</when>
				</choose>
			</when>
		</choose>
	</select>
	<select id="empDetailData" resultType="EmpVO" parameterType="int">
		SELECT e.*
		FROM employment e
		WHERE eno=#{eno}
	</select>
	<update id="empHitIncrement" parameterType="int">
		UPDATE employment SET
		hit=hit+1
		WHERE eno=#{eno}
	</update>
	<!-- 공고 업종 -->
	<select id="empDetailJobData" resultType="JobVO" parameterType="int">
		SELECT *
		FROM emp_job e, job j
		WHERE e.jno=j.jno
		AND eno=#{eno}
	</select>
</mapper>